<% title "Edit Article" %>

<% content_for(:admin) do %>
  <ul>
    <li class="first"><%= link_to 'Show Article', article_permalink_url(@article) %></li>
    <li class="last"><%= link_to 'Logout', logout_url %></li>
  </ul>
<% end %>

<h2 class="title"><%= @title %></h2>

<%= render :partial => 'form' %>