.article { margin-bottom: 2em; }
.article h3.title { font-size: 200%; margin-bottom: 0.3em; font-weight: normal; }
.article h3.title a { text-decoration: none; color: black; }
.article h3.title a:hover { text-decoration: underline; }
.article h4 { margin-bottom: 1em; }
.article .date { font-style: italic; font-size: 90%; margin-bottom: 2em; }
.article p { margin-bottom: 1em; line-height: 1.5em; }
.article blockquote { margin-left: 2em; padding-left: 1em; border-left: 0.5em solid #aaaaaa; margin-bottom: 1.5em; }
.article blockquote p { color: #444444;}
.article .body ul, .article .body ol { margin-bottom: 1em; }
.article .body ul li { display: list-item; list-style-type: disc; margin-bottom: 0.5em; margin-left: 2em; line-height: 1.3em;}
.article .body ol li { display: list-item; list-style-type: decimal; margin-bottom: 0.5em; margin-left: 2em; line-height: 1.3em; }
.article .meta { font-size: 90%; }
.article .meta .item{ margin-bottom: 0.3em; }
.article .meta .item ul { display: inline; }

.comments-heading { text-align: right; font-size: 150%;}

.articles { }
.articles .item { padding-bottom: 1em;}
.articles .item .title { font-size: 150%; margin-bottom: 0.5em;}
.articles .item .title a { text-decoration: none; color: black; }
.articles .item .title a:hover { text-decoration: underline; }
.articles .item .date { text-align: right; font-style: italic; font-size: 90%; }
.articles .item .meta { font-size: 90%; margin-bottom: 0.5em; }
.articles .item .meta ul { display: inline; }
.articles .item .meta li { margin-right: 0.5em; }