body { font-family: Georgia, 'Hiragino Mincho Pro', serif; }
pre { margin-bottom: 1em; }
object { margin-bottom: 1em; }

#message { display: none; }

#container { margin-top: 2em;}

#admin { background-color: black; color: white;
  padding: 0.3em 0 0.3em 0; font-family: Helvetica, sans-serif;
  font-size: 90%; text-align: right; }
#admin li { padding-left: 0.5em; border-left: 1px solid #cccccc; }
#admin .first { padding-left: 0; border-left: 0px;}
#admin .last { padding-right: 0; }
#admin .only { padding-left: 0; padding-right: 0; border-left: 0px; border-right: 0px; }
#admin a { color: white; text-decoration: none; }
#admin a:hover { text-decoration: underline; }

#header { margin-bottom: 2.3em; }
#body { padding-bottom: 5em; }
#footer { margin-bottom: 1em; padding-bottom: 1.5em; font-size: 90%; }

#footer .category {text-transform: uppercase; color: #cc0000; letter-spacing: 0.1em; }
#footer li.contact { display: block; float: left; width: 120px; margin-right: 35px;}
#footer li.meetup { display: block; float: left; }
#footer .items { margin-top: 8px; }
#footer .items li { display: block; float: left; margin-right: 1em; margin-bottom: 0.5em; }
#footer .search form { margin-top: 8px; }
#footer .sitesearch { width: 280px;}

#copyright { margin-bottom: 2em; font-size: 90%; text-align: right; }

.main { width: 960px; margin-left: auto; margin-right: auto; }
.right { width: 630px; float: right;}
.left { width: 280px; }
.section { border-bottom: 1px dotted gray; margin-bottom: 1em; padding-bottom: 1em; }

.pagination { text-align: left; margin-bottom: 2em;}

#site-id { }
#site-id h1.title { font-size: 210%; margin-bottom: 0.25em; }
#site-id h1 a {  color: black; text-decoration: none; }
#site-id h2.tagline { font-weight: normal; font-style: italic;}

#navigation { font-size: 90%; }
#navigation a { color: black; text-decoration: none; }
#navigation a:hover { text-decoration: underline; }
#navigation .site-id { margin-top: 20px;}
#navigation .group {  }
#navigation li.group { display: block; float: left; width: 120px;  margin-left: 50px; }
#navigation li.first-child { margin-left: 0; }
#navigation .category { text-transform: uppercase; color: #CC0000; letter-spacing: 0.1em; }
#navigation .items { margin-top: 8px;}
#navigation .items li {display: block; margin-bottom: 0.5em;}

h3.page-title { margin-bottom: 1em; font-weight: normal; font-size: 180%;}

.infobox { padding-right: 2em;  font-size: 90%;}
.infobox h3.title { margin-bottom: 1em; font-size: 110%;}
.infobox ul { margin-bottom: 2em; }
.infobox ul li { display: block; margin-bottom: 0.7em; line-height: 1.2em;}
.infobox a { color: black; text-decoration: none; }
.infobox a:hover{ text-decoration: underline; }
.infobox .more { text-align: right; }