body { font-family: Georgia, 'Hiragino Mincho Pro', serif; }
pre { margin-bottom: 1em; }
object { margin-bottom: 1em; }

#container { margin-top: 2em;}

#admin { display: none; background-color: black; color: white;
  padding: 0.3em 0 0.3em 0; font-family: Helvetica, sans-serif;
  font-size: 90%; text-align: right; }
#admin li { padding-left: 0.5em; border-left: 1px solid #cccccc; }
#admin .first { padding-left: 0; border-left: 0px;}
#admin .last { padding-right: 0; }
#admin a { color: white; text-decoration: none; }
#admin a:hover { text-decoration: underline; }

#header {  }
#body { padding-bottom: 5em; }
#footer { margin-bottom: 1em; padding-bottom: 1.5em; font-size: 90%; }
#copyright { margin-bottom: 2em; font-size: 90%; }

.main { width: 960px; margin-left: auto; margin-right: auto; }
.section { border-bottom: 1px dotted gray; margin-bottom: 1em; padding-bottom: 1em; }

h1.site-id { font-size: 190%; }
h1.site-id a { color: black; text-decoration: none; }

h2.title { margin-bottom: 1em; font-size: 130%; }