<div id="navigation">
  <div class="right">
    <%= render :partial => 'shared/navigation' %>
  </div>
</div>
<div id="site-id">
  <div class="left">
    <%= render :partial => 'shared/site_id' %>    
  </div>
</div>
<br style="clear: both;" />