<div class="search">
  <span class="category">search</span>
  <form method="get" action="http://google.com/search">
    <input type="text" id="q" value="" name="q" class="sitesearch" />
    <input type="hidden" name="sitesearch" value="<%= Hubbub::Config[:site_url] %>">
  </form>
</div>