<% title "New Page" %>

<% content_for(:admin) do %>
  <ul>
    <li class="first"><%= link_to 'Pages', pages_url %></li>
    <li class="last"><%= link_to 'Logout', logout_url %></li>
  </ul>
<% end %>

<h3 class="page-title"><%= @title %></h3>

<%= render :partial => 'form' %>
