<% title "All Tags" %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'tags' %>
<% end %>

<% content_for(:admin) do %>
  <ul>
    <li class="only"><%= link_to 'Logout', logout_url %></li>
  </ul>
<% end %>

<div class="right">
  <h3 class="page-title"><%= @title %></h3>
  <% if @tags.empty? %>
    <p>No Tags have been created yet.
  <% else %>
    <div class="tags">
      <%= render :partial => @tags %>  
    </div>
  <% end %>
</div>
<br style="clear: both;" />
