<% title "404 - File Not Found" %>

<div class="right">
  <h3 class="page-title"><%= @title %></h3>
  <p>
    Hmm... the file you're looking for doesn't seem to be here. We may
    have moved it or it may have been deleted.
  </p>
</div>
<br style="clear: both;" />